<body>

    <div class="content">
  
      <div class="container">
        <h2 class="text-center">NOMBRE DEL EQUIPO</h2>
        <hr>
        <h3 class="text-center">Lista de Equipos Registrados</h3>
        <div class="table-responsive">
  
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Nombre del Equipo</th>                             
              </tr>
            </thead>           
            <tbody>    
                    <tr>        
                <td>los colegas</td>
               
            </tr>    
            <tr>        
                <td>los eduardos</td>
                
            </tr>          
            </tbody>
  
          </table>
        </div>
        
        
      </div>
    </div> 
  </body>