*{
  font-style: normal;
  font-weight: 430;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-align: justify;
  color: rgba(241, 94, 36, 0.651);
}


.container-fluid{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.1);
    padding-left: 2%;
    border-bottom: 10rem;
    object-position: center;
    margin: 40px;
}