.container-fluid {
    position: absolute;
    left: -15px;
    right: 0%;
    top: 14%;
    bottom: 0%;

    background: rgba(230, 131, 63, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}

.container {
    position: absolute;
    width: 300px;
    height: 400px;
    left: 850px;
    top: 121px;

    background: rgba(230, 131, 63, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.form-control {
    position: absolute;
    left: 5%;
    right: 35%;
    top: 20.48%;
    bottom: 72.64%;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#fondo h1 {
    position: absolute;
    left: 5%;
    right: 30%;
    top: 5%;
    bottom: 86.08%;

    font-family: 'verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.14em;

    color: rgba(0, 0, 0, 0.5);

}

.form-controlN {
    position: absolute;
    width: 720px;
    height: 40px;
    left: 61px;
    top: 200px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}

.form-controlC {
    position: absolute;
    width: 720px;
    height: 40px;
    left: 61px;
    top: 267px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}

.form-controlT {
    position: absolute;
    width: 720px;
    height: 40px;
    left: 61px;
    top: 334px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}

.form-controlCo {
    position: absolute;
    width: 720px;
    height: 40px;
    left: 61px;
    top: 401px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}

.form-controlF {
    position: absolute;
    width: 720px;
    height: 40px;
    left: 61px;
    top: 468px;

    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}