<!DOCTYPE html>
<html lang="en">

<body>
    <div id="fondo">
        <h1>Ficha de Preinscripcion</h1>
    </div>
    <div class="container-fluid">
        <div class="mb-3">
            <label for="Nombre completo" class="form-label">Nombre completo:</label>
            <input type="text" class="form-control" name="Nombre completo" placeholder="Ingrese nombre completo">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Nombre del equipo:</label>
            <input type="text" class="form-control" name="Nombre del equipo" placeholder="Ingrese nombre del equipo">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Categoria:</label>
            <input type="text" class="form-control" name="Categoria" placeholder="Ingrese la categoria">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Telefono:</label>
            <input type="text" class="form-control" name="Telefono" placeholder="Ingrese el numero de telefono">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Correo electronico:</label>
            <input type="text" class="form-control" name="Telefono" placeholder="Ingrese el correo electronico">
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Codigo de transaccion:</label>
            <input type="text" class="form-control" name="Telefono" placeholder="Ingrese el codigo de transaccion">
        </div>
    </div>

    <div class="container">
        <h2>PAGOS O DEPOSITO</h2>
        <h3>BANCO:</h3>
        <h3 id="white">UNION</h3>
        <h3>NRO. CUENTA:</h3>
        <h3 id="white">10000011909857</h3>
        <h3>A FAVOR DE:</h3>
        <h3 id="white">ZULEMA RITA BRAVO DE BALDERRAMA</h3>
        <h3>NRO. CEDULA:</h3>
        <h3 id="white">952193</h3>
    </div>

</body>

</html>