<link href="//use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="../../../../assets/Imagenes/basket-login.jpg" alt="login form" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="datosLogin" (ngSubmit)="iniciarSesion()" class="container-fluid">

                  <div class="d-flex align-items-center mb-3 pb-1">

                    <span class="h1 fw-bold mb-0">INICIO DE SESION</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingrese con su correo electronico</h5>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="correoElectronico">Correo</label>
                    <input type="email" class="form-control form-control-lg" formControlName="correoElectronico"
                      required />
                    <div *ngIf="(controls.correoElectronico.touched && controls.correoElectronico.invalid)"
                      class="text-danger">
                      <div *ngIf="controls.correoElectronico.errors?.required">Por favor, ingresa tu correo electronico
                      </div>
                      <div *ngIf="controls.correoElectronico.errors?.email">Por favor, ingresa un correo valido</div>
                    </div>
                  </div>

                  <div class="form-outline mb-3">
                    <label for="email">Contraseña</label>
                    <div class="input-group">
                      <input [type]="textoContrasenia ? 'text' : 'password'" class="form-control"
                        formControlName="password" required />
                      <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{'fa-eye': textoContrasenia, 'fa-eye-slash': !textoContrasenia}" aria-hidden="false" (click) = "mostrarContrasenia()"></i>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="(controls.password.touched && controls.password.invalid)" class="text-danger">
                      <div *ngIf="controls.password.errors?.required">Por favor, ingresa tu contraseña</div>
                    </div>
                  </div>

                  <div>
                    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="captcha"></ngx-recaptcha2>
                  </div>

                  <div class="pt-1 mb-4 mt-3">
                    <button [disabled]="datosLogin.invalid" class="btn btn-dark btn-lg btn-block" type="submit">Ingresar</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>