
<head>        
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
          <img src="../../../../assets/Imagenes/Logo.jpg" alt="">
        </a>
        <ul>
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Equipos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fixture">Fixture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Inicio Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/credencial">Perfil</a>
          </li>
        </ul>
    </nav>
    <section></section>
</body>
