<body>
    <div class="container-fluid">
        <div class="col-12 mt-4" id="fondo">
            <div class="col-md-6 text-center container align-items-center">
                <h2><b>Bienvenido al sistema</b></h2>
                <h2><b>Liga Maxibasquet Cochabamba</b></h2>
            </div>
            <div class="col-md-12 mr-5 mb-3">
                <h5 class="text-center">
                    3er Torneo Internacional de Maxibasquet Cochabamba - Bolivia 2022
                </h5>
                <p class="mt-1 mx-5 mt-4">
                    Este año el torneo internacional se presenta mediante su sistema gracias al desarrollo de herramientas
                    y la tecnologia actual, brindando un sistema optimo para el control de los partidos, los equipos y
                    los jugadores en el trasncurso de los torneos.
                    <br><br>
                    Un delegado es la parte mas importante en este sistema ya que es el encargado de hacer el registro para que
                    los equipos puedan participar en el torneo, por lo tanto es de vital importancia que el delegado se registre
                    en el <b>siguiente formulario:</b>
                </p>
                
                <div id="right" class="mx-2">
                    Si usted ya se registro como delegado puede omitir este paso
                    <button class="btn btn-dark btn-m mb-1" (click)="omitir();">Omitir</button>
                </div>
            </div>

        </div>

    </div>
</body>