

<body>
    <div class="container-fluid">
      <div class="row mb-5 mt-5">
        <div class="col-md-12 mb-5">
          <div class="row text-center">
            <div class=" row ">
              <button class="col" (click)="crearTorneo()">CREAR TORNEO</button>
              <button class="col" (click)="equiposPreinscritos()">VER EQUIPOS PREINSCRITOS</button>
              <button class="col" (click)="equiposRegistrados()">VER EQUIPOS REGISTRADOS EN EL TORNEO</button>
              <button class="col" (click)="crearPartido()">CREAR UN PARTIDO</button>
              </div>
            
    </div></div></div></div>

    <div class="content">
        <div class="container">
          <h2 class="text-center">Equipos registrados</h2>
    
          <div class="table-responsive">
    
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Nombre del Equipo</th>
                  <th scope="col">Categoria del Equipo</th>
                  <th scope="col">Desgarga de credencial</th>
                  
                </tr>
              </thead>
    
              <tbody>
                <tr >
                  <td>calceteros</td>
                  <td>45</td>
                  <td><a href="/credencial">Credencial</a></td>
                </tr>
    
                
              </tbody>
    
            </table>
          
          </div>
    
        </div>
    
      </div>
</body>