

<body>
    <div class="container-fluid">
      <div class="row mb-5 mt-5">
        <div class="col-md-12 mb-5">
          <div class="row text-center">
            <div class=" row ">
              <button class="col" (click)="crearTorneo()">CREAR TORNEO</button>
              <button class="col" (click)="equiposPreinscritos()">VER EQUIPOS PREINSCRITOS</button>
              <button class="col" (click)="equiposRegistrados()">VER EQUIPOS REGISTRADOS EN EL TORNEO</button>
              <button class="col" (click)="crearPartido()">CREAR UN PARTIDO</button>
              </div>
            
    </div></div></div></div>

    
</body>