* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: 'Poppins';
  font-style: normal;

  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.235em;

  color: #FFFFFF;
}

nav {
  background: #292929;
  font-family: 'calibri';
  background-image: url(/assets/Imagenes/ByN.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  margin: 0 30px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 28px;
  padding: 40px 5px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active,
li a:hover {
  background: #6f6f6f;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

img {
  width: 300px;
  height: 185px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1800px) {
  .enlace {
    padding-left: 30px;
  }

  nav ul li {


    margin: 0 5px;
  }

  nav ul li a {
    font-size: 25px;
  }
}

@media (max-width: 1400px) {
  .enlace {
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 15px;
  }

  nav ul li {


    margin: 0 10px;
  }
}

@media (max-width: 1000px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  li a:hover,
  li a.active {
    background: none;
    color: red;
  }

  #check:checked~ul {
    left: 0;
  }
}