<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <nav aria-label="">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/preinscripcion">Ficha de preinscripcion</a></li>
          <li class="breadcrumb-item"><a href="/registro-equipo">Registro equipo</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/registro-jugadores']" href="#">Registro de jugadores</a></li>
          <li class="breadcrumb-item"><a href="/registro-control-partido">Registro control de partido</a></li>
          <li class="breadcrumb-item"><a href="/credencial">Credencial jugador</a></li>
        </ol>
      </nav>
    </div>
  </nav>