<body>


    <div class="content">
  
      <div class="container">
        <h2 class="text-center">LIGA MAXI BASQUET COCHABAMBA</h2>
  
        <div class="table-responsive">
  
          <table class="table custom-table">
            <thead>
              <tr>
  
                <th scope="col">Nombre del Equipo</th>
                <th scope="col">Pais del Equipo</th>
                <th scope="col">Color del Equipo</th>
                <th scope="col">Categoria del Equipo</th>
                
              </tr>
            </thead>
            <tbody>
              <tr scope="row">
                <td>
                  18/08/2022
                </td>
                <td>15:00</td>
                <td>Equipo dinamita</td>
                <td>Equipo flores</td>
               
              </tr>
  
              <tr>
                <td>18/08/2022</td>
                <td>15:00</td>
                <td>Equipo dinamita</td>
                <td>Equipo dinamita</td>
                
              </tr>
  
              <tr>
                <td>18/08/2022</td>
                <td>15:00</td>
                <td>Equipo dinamita</td>
                <td>Equipo dinamita</td>
                
              </tr>
  
              <tr>
                <td>18/08/2022</td>
                <td>15:00</td>
                <td>Equipo dinamita</td>
                <td>Equipo dinamita</td>
                
              </tr>
  
              
  
            </tbody>
  
          </table>
        </div>
        
  
      </div>
  
    </div>
  
  
  
   
  </body>