/* ===== GENERAL ===== */

body{
  background: rgba(230, 131, 63, 0.5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  font-family: 'verdana';
  margin: 80px;
  width: 100%;
  max-width: 100rem;
  
  

  
}

img{
  width: 100%;
}
/* ===== PUBLICACIÓN ===== */

.post{
  
  background: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  
  align-items: baseline;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.informacion-usuario{
  display: block;
}

.img{
  min-width: 15rem;
  max-width: 15rem;
  height: 15rem;
  
  position: relative;
}

.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  border-radius: 2rem;
  
}

.foto{
  min-width: 15rem;
  max-width: 15rem;
  height: 15rem;
  
  position: relative;
}

.foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2rem;
  
}

.titulo{
  font-size: 2.5rem;
  margin: 1rem 0 1rem;
  text-transform: uppercase;
  color: #ffffff;
  
}

.sub-titulo{
  display: block;
  color: rgba(0, 0, 0, .5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0 1rem;
}


.Fecha-de-Nacimiento{
  text-align: center;
}


/* ===== RESPONSIVE ===== */

@media screen and (max-width: 1068px){
  .post{
      max-width: 80rem;
  }
  .img{
      min-width: 30rem;
      max-width: 30rem;
  }
}

@media screen and (max-width: 868px){
  .post{
      padding: 2.5rem;
  }
}

@media screen and (max-width: 768px){
  .post{
      padding: 2.5rem;
      flex-direction: column;
  }
  .img{
      min-width: 100%;
      max-width: 100%;
      transform: translate(0, -8rem);
  }
}
