<body>
  <div class="post">
    <div class="img"><img src="../../../../assets/Imagenes/Logo.jpg" alt=""></div>
    <div class="info">
      <h1 class="titulo">Liga Maxi Basquet Cochabamba</h1>
      <div class="sub-titulo">Credencial</div>
    </div>
  </div>
<hr>
	<main>
		<form action="" class="formulario" id="formulario">
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="nombre" class="formulario__label">Nombre:</label>
				
			</div>
<br>
			<!-- Grupo: Nombre -->
			<div class="formulario__grupo" id="grupo__nombre">
				<label for="Fecha-de-Nacimiento" class="formulario__label">Fecha de Nacimiento:</label>
				
			</div>

			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="Numero-de-Identificacion" class="formulario__label">Numero de Identificacion:</label>
				
			</div>

			<!-- Grupo: Contraseña 2 -->
			<div class="formulario__grupo" id="grupo__password2">
				<label for="Club" class="formulario__label">Club:</label>
				
			</div>

			<!-- Grupo: Correo Electronico -->
			<div class="formulario__grupo" id="grupo__correo">
				<label for="Telefono:" class="formulario__label">Telefono:</label>
				
			</div>

			<div class="QR" id="QR">
      <qr-code [value]="'http://localhost:4200/'"></qr-code>
    </div>
			
		</form>
	</main>

	
</body>