<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="post row">
					<div class="col-md-3 img">
						<img src="../assets/Imagenes/Logo.jpg">
					</div>
					<div class="col-md-9">
						<h1 class="text-center titulo">
							Liga Maxi Basquet Cochabamba
						</h1>
						<div class="sub-titulo">Credencial</div>
					</div>
				</div>
			</div>

			<div class="col-md-10">

				<!--Nombre-->
				<div class="form-group p-2 text-black" id="grupo__usuario">
					<label for="nombre" class="formulario">Nombre completo:</label>
					
					<label>{{nombrePerfil}}</label>
				</div>

				<div class="row">
					<div class="col-md-6">
						<!--Fecha de nacimiento-->
						<div class="form-group p-2 text-black" id="grupo__nombre">
							<label for="Fecha-de-Nacimiento" class="formulario">Fecha de Nacimiento:</label>
							<label> {{fechaNaciminetoPerfil}}</label>
						</div>
						<!--Club-->
						<div class="form-group p-2 text-black" id="grupo__password2">
							<label for="Club" class="formulario">Equipo:</label>
							<label >{{equipoPerfil}}</label>
						</div>
					</div>
					<div class="col-md-6">
						<!--Numero de identificacion-->
						<div class="form-group p-2 text-black" id="grupo__password">
							<label for="Numero-de-Identificacion" class="formulario">Numero de
								Identificacion:</label>
								<label>{{numeroIdentificacionPerfil}}</label>
						</div>
						<!--Telefono-->
						<div class="form-group p-2 text-black" id="grupo__correo">
							<label for="Telefono:" class="formulario">Telefono:</label>
							<label >{{telefonoPerfil}}</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div>
					<h1>IMAGEN</h1>
				</div>

				<div class="QR" id="QR">
					<qr-code [value]="urlActual"></qr-code>
				</div>

			</div>
		</div>
	</div>
</body>