body {
	background: rgba(230, 131, 63, 0.5);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2rem;
	font-family: 'verdana';
	min-width:500px;
	/*width: 100%;
	max-width: 100rem;*/
	margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.formulario {
	font-weight: 700;
	padding: 10px;
	gap: 20px;
	font-size: 1.2rem;
}

.form-control {
    background: rgba(0, 0, 0, 0.4);
    color:white;
    border-radius: 10px;
}

.post {
	background: rgb(0, 0, 0);
	text-align: center;
	display: flex;

	align-items: baseline;
	border-radius: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.img img {
	min-width: 15rem;
	/*max-width: 15rem;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: inline-block;
	border-radius: 2rem;
}

.titulo {
	font-size: 2.5rem;
	margin: 1rem 0 1rem;
	text-transform: uppercase;
	color: #ffffff;
}

.sub-titulo {
	display: block;
	color: rgba(0, 0, 0, .5);
	font-size: 1.6rem;
	font-weight: 600;
	margin: .5rem 0 1rem;
	color: #ffffff;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}
}
