<body>

    <div class="content">
  
      <div class="container">
        <h2 class="text-center">NOMBRE DEL EQUIPO</h2>
        <hr>
        <h3 class="text-center">El mejor jugador del equipo</h3>
        <hr>
        <h3 class="text-center">Jugadores del Equipo</h3>
        <div class="table-responsive">
  
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Nombre del Jugador</th>
                <th scope="col">Appelido del jugador</th> 
                <th scope="col">Canastas Simples</th>
                <th scope="col">Canastas Dobles</th>
                <th scope="col">Canastas Triples</th> 
                <th scope="col">Rebotes</th>
                <th scope="col">Faltas</th>               
              </tr>
            </thead>           
            <tbody>    
                    <tr>        
                <td>jose</td>
                <td>rocha</td>
                <td>15</td>
                <td>75</td>
                <td>12</td>
                <td>15</td>
                <td>75</td>
            </tr>    
            <tr>        
                <td>eduardo</td>
                <td>GALINDO</td> 
                <td>10</td>
                <td>80</td>
                <td>5</td>
                <td>15</td>
                <td>75</td>
            </tr>          
            </tbody>
  
          </table>
        </div>
        
        
      </div>
    </div> 
  </body>