<!DOCTYPE html>
<html lang="en">

<body>
    <div id="fondo">
        <h1>Registro de Equipo</h1>
    </div>
    <form [formGroup]="formRegistroEquipo" (ngSubmit)="registrarEquipo()" class="container-fluid">

        <!--INPUT NOMBRE EQUIPO-->
        <div class="mb-3">
            <label class="form-label">Nombre de equipo:</label>
            <input 
                type="text"
                class="form-control"
                formControlName="nombreDelEquipo"
                minlength="5"
                maxlength="80"
                required>
                <div *ngIf="controls.nombreDelEquipo.touched && controls.nombreDelEquipo.invalid"  class="text-danger">
                    <div *ngIf="controls.nombreDelEquipo.errors?.required">Por favor, ingresa el nombre de tu equipo</div>
                    <div *ngIf="controls.nombreDelEquipo.errors?.pattern">Por favor, ingresa caracteres validos</div>
                    <div *ngIf="controls.nombreDelEquipo.errors?.maxLength">El nombre del equipo es demasiado largo</div>
                </div>
        </div>

        <!--CATEGORIA-->
        <div class="col-4">
            <label for="" class="form-label">Seleccione una categoria:</label>
            <select 
                class="form-control" 
                name="categoria" 
                (change)="categoria" 
                formControlName="categoria" 
                required>

                <option value="" disabled>Seleccionar categoria</option>
                <option *ngFor="let c of listaCategoria" [ngValue]="c">{{ c }}</option>
                <div *ngIf="controls.categoria.errors?.required" class="text-danger">
                    Por favor, selecciona una categoria
                </div>
            </select>      
        </div>
        
        <!--INPUT PAIS-->
        <div class="mb-3">
            <label class="form-label">Pais del Equipo:</label>                
                <input 
                    type="text" 
                    class="form-control" 
                    formControlName="paisEquipo" 
                    minlength="5"
                    maxlength="80"
                    required >
                <div *ngIf="controls.paisEquipo.touched && controls.paisEquipo.invalid"  class="text-danger">
                    <div *ngIf="controls.paisEquipo.errors?.required">Por favor, ingresa el pais del equipo</div>
                    <div *ngIf="controls.paisEquipo.errors?.pattern">Por favor, ingresa caracteres validos</div>
                </div>                
        </div>

        <!--INPUT COLOR EQUIPO-->
        <div class="mb-3">
            <label class="form-label">Color del equipo:</label>                
                <input 
                    type="text" 
                    class="form-control" 
                    formControlName="colorEquipo" 
                    minlength="5"
                    maxlength="80"
                    required >
                <div *ngIf="controls.colorEquipo.touched && controls.colorEquipo.invalid"  class="text-danger">
                    <div *ngIf="controls.colorEquipo.errors?.required">Por favor, ingresa el color del equipo</div>
                    <div *ngIf="controls.colorEquipo.errors?.minLength">"El color debe tener al menos 5 caracteres"</div>
                    <div *ngIf="controls.colorEquipo.errors?.maxLength">El nombre es demasiado largo</div>
                    <div *ngIf="controls.colorEquipo.errors?.pattern">Por favor, ingresa caracteres validos</div>
                </div>                
        </div>

        <button type="submit">Guardar</button>

    </form>

    
</body>

</html>