.footer{
    width: 100%;
    bottom: 0px;
    position: fixed;
}

#puntaje{
    border-style: solid;
    border-color: black;
    padding-top: 15%;
    padding-bottom: 15%;
}

#canasta1{
    background-color: navajowhite;
}
#canasta2{
    background-color: orange;
}
#canasta3{
    background-color: darkorange;
}