
    <div class="container">
        <h2 class="text-center" id="titulo">CREDENCIAL DEL DELEGADO</h2>
        <div class="mb-5" id="credencialcita">
			<div class="col-md-6 mb-2">
				<div id="credencial" class="mb-4">
					<div class="row">
						<div class="col-md-12">
							<div class="post row" id="cabezal">
								<div class="col-md-3 img">
									<img src="../assets/Imagenes/Logo.jpg">
								</div>
								<div class="col-md-9">
									<h3 class="text-center titulo">
										Liga Maxi Basquet Cochabamba
									</h3>
									<div class="sub-titulo">Credencial</div>
								</div>
							</div>
						</div>

						<div class="col-md-8">
							<!--Nombre completo-->
							<div class="form-group p-2 text-black row mx-2">
								<label for="nombre" class="formulario">Nombre completo:</label>
								<label>
									<!--{{jugadorCredencial?.nombre_jug + " " +
									jugadorCredencial?.prim_ap_jug + " " +
									jugadorCredencial?.seg_ap_jug}}-->
								</label>
							</div>

							<div class="row text-center">
								<div class="col-md-4">
									<!--Fecha de nacimiento-->
									<div class="form-group p-2 text-black mx-2">
										<label for="Fecha-de-Nacimiento" class="formulario">Fecha de Nacimiento:</label>
										<!--<label>{{jugadorCredencial?.fecha_nac_jug}}</label>-->
									</div>

									<!--Equipo-->
									<div class="form-group p-2 text-black mx-2">
										<label for="Equipo" class="formulario">Equipo:</label>
										<!--<label>{{ equipoJugador?.nombre_equi }}</label>-->
									</div>
								</div>

								<div class="col-md-4">
									<!--Numero de identificacion-->
									<div class="form-group p-2 text-black row ">
										<label for="Numero-de-Identificacion" class="formulario">N° de
											Identificacion:</label>
									<!--	<label>{{jugadorCredencial?.num_iden_jug}}</label>-->
									</div>
									<!--Telefono-->
									<div class="form-group p-2 text-black row">
										<label for="Telefono:" class="formulario">Categoria:</label>
										<!--<label>{{equipoJugador?.categ_equi}}</label>-->
									</div>
								</div>
								<div class="col-md-4">
									<!--Telefono-->
									<div class="form-group p-2 text-black row mt-2">
										<label for=""></label>
										<label for="Telefono:" class="formulario">Telefono:</label>
										<!--<label>{{jugadorCredencial?.telf_jug}}</label>-->
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 text-center mb-2">
							<div class="p-3">
								<img src="../../../../assets/Imagenes/Logo.jpg" class="img-fluid" alt="Imagen jugador" />
								<!--mg class="img-fluid" src="{{imageJugador}}" alt="Imagen jugador"/-->							
							</div>
							<div class="QR" id="QR">
								<qr-code [value]="urlActual"></qr-code>
                                
							</div>
						</div>
					</div>
                    
				</div>
			</div>
		</div>
        <button (click)="downloadPDF()" class="btn btn-dark btn-l col-md-6 mb-2 mt-3">Crear PDF</button>
        </div>
        <br>
        