/*Reseteamos el margen de html y body*/
html,body{ margin: 0;}


#credencial{
  border-style: solid;
  border-radius: 3rem;
  border-color: black;
  background: rgba(230, 131, 63, 0.5);
 
    width: 600px;       
    height: 410px;
    position: absolute;
   
    right: 50%;
    margin-right: -100px;

}

#credencialcita{
  background-color: white;
  height: 100vh;
}
#cabezal{
height: 170px;
}
.formulario {
	font-weight: 700;
	padding: 10px;
	gap: 20px;
	font-size: 1.2rem;
}

.form-control {
    background: rgba(0, 0, 0, 0.4);
    color:white;
    border-radius: 10px;
}


.post {
	background: rgb(0, 0, 0);
	text-align: center;
	display: flex;

	align-items: baseline;
	border-radius: 2rem;
	margin-left: auto;
	margin-right: auto;
}

.img img {
	min-width: 15rem;
	/*max-width: 15rem;*/
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: inline-block;
	margin-top: 5px;
}

.titulo {
	font-size: 2rem;
	margin-top: 0px;
    margin-bottom: 0px ;
	text-transform: uppercase;
	color: #ffffff;
}

.sub-titulo {
	display: block;
	color: rgba(0, 0, 0, .5);
	font-size: 1.4rem;
	font-weight: 600;
	margin: .5rem 0 2rem;
	color: #ffffff;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}
}
