<body>
  <div class="container-fluid">
    <div class="row mb-5 mt-5">
      <div class="col-md-12">
        <div class="row text-center">
          <div class=" row ">
            <button class="col" (click)="registroPreinscripcion()">Preinscripcion de equipo</button>
            <button class="col" (click)="registroEquipo()">Inscripcion de equipo</button>
            <button class="col" (click)="registrojugadores()">Inscripcion de jugadores</button>
            <button class="col" (click)="credencial()">Generar mi credencial</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content mb-2">
    <div class="container">
      <h2 class="text-center">Equipos preinscritos</h2>
      <h4 class="text-center" id="equipoVacio" *ngIf="equiposPreins.length==0">NO EXISTEN EQUIPOS PREINSCRITOS</h4>
      <div *ngIf="equiposPreins.length>0" class="table-responsive text-center">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre del Equipo</th>
              <th scope="col">Categoria del Equipo</th>              
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let equipo of equiposPreins">
              <td>{{ equipo?.nombre_equi }}</td>
              <td>{{ equipo?.categ_equi }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="content mb-5 mt-2">
    <div class="container">
      <h2 class="text-center">Equipos registrados</h2>
      <h4 class="text-center" id="equipoVacio" *ngIf="equiposRegistrados.length==0">NO EXISTEN EQUIPOS REGISTRADOS</h4>
      <div *ngIf="equiposRegistrados.length>0" class="table-responsive text-center">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre del Equipo</th>
              <th scope="col">Categoria del Equipo</th>
              <th scope="col">Cantidad de jugadores</th>
              <th scope="col">Desgarga de credencial</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let equipo of equiposRegistrados">
              <td>{{ equipo?.nombre_equi }}</td>
              <td>{{ equipo?.categ_equi }}</td>
              <td>{{ equipo?.equipo_data.cant_jug_equip }}</td>
              <td><button class="btn btn-dark btn-m" (click)="credencialEquipo(equipo)">Generar credencial</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br><br>
</body>