<html>
<body>
    <div class="container-fluid">
        <div class="row col-md-9 gx-5 text-white ms-3">
            <h1 class="page-header p-5">
                CUANTO MAS DIFICIL ES LA VICTORIA, MAYOR ES LA FELICIDAD
                DE GANAR
            </h1>
            <div class="d-flex justify-content-center mb-5">
                <img src="/assets/Imagenes/Logo.jpg" width="30%" height="100%" alt="">
            </div>
            <h3 class="text-center">3er Torneo Internacional de Maxi básquet “CAP. MANFRED REYES VILLA” </h3>
            <p>
                El torneo se realizará en la ciudad de <b>Cochabamba-Bolivia</b> desde el Viernes 19
                al domingo 21 de Agosto 2022, comprenderá las siguientes categorías: +30, +40
                y +50 años, en la rama femenina.
                <br>
                El costo de la preinscripción es de US $250 dólares por equipo hasta el 1 de agosto
                del presente, pasada esta fecha el costo será de US $350 dólares por equipo. El evento
                es de carácter internacional, hasta el momento han manifestado interés por participar
                equipos provenientes no sólo de Bolivia, sino también Argentina y otros países de Sud
                América.
            </p>   
            <p>
                <button type="button" class="btn btn-lg mt-3 mb-5 text-white" (click)="clickRPHome();">Registro de preinscripción</button>    
            </p> 
        </div>
    </div>
</body>
</html>