body{
  /*background-image: url(/assets/Imagenes/fondo-home.jpg);*/
  background-color: peru;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.container-fluid h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  letter-spacing: 2px;
}

/*.content{
  width: 1800px;
  height: 1000px;
  
  margin: 0px;
 
  position: relative;

}*/
.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.content .cn{
  width: 160px;
  height: 55px;
  background: #ff8800;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
  
}
.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}
.cn:hover{
  background-color: #fff;
}
.content span{
  color: #ffffff;
  font-size: 65px
}
